<h2><%= @user.nickname %>さんのページ</h2>

  <div>
    <table class="table table-striped table-bordered">

    <tr>
      <td colspan="2">Nickname: </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= @user.nickname %>
      </td>
    </tr>

    <tr>
      <td colspan="2">Profile: </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= @user.profile %>
      </td>
    </tr>

    </table>
  </div>

  <%= link_to "編集", edit_user_registration_path, method: :get %>
  <%#= link_to "プロフィールを編集する", edit_user_detail_path(current_user.user_detail.id),method: :get %>
  <%#= link_to "プロフィールを設定する", new_user_detail_path,method: :get %>
