
  <br>
  <h2>いいね！ランキング</h2>
  <div class="container">
  <%#= render partial: "article", locals: {posts: @posts}  %>

  <div class="not-under">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class ="card switch">
        <div class ="card-body post-index-body">
          <table class="table table-responsive table-sm post-index">
            <tbody>
              <tr>
                <td class="border-top-0">「<%= post.title %>」　<span class="fa fa-heart like-btn"></span><small>いいね！ <%= post.likes.count %>件 </small></td>
              </tr>
              <tr>
                <td class="border-top-0"> (<%= post.summary %>)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

  <div>
    <%#= link_to '投稿一覧へ', posts_path %>
      <%#<i class="fa fa-arrow-circle-left fa-fw"></i> 投稿一覧へ%>
  </div>
</div>
