// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#g_navi ul {
 overflow: hidden;
 margin: 0 auto;
 padding: 0 3%;
 width: 94%;
 max-width: 960px;
}

 #g_navi ul li {
  position: relative;
  float: left;
  width: 20%;
 }

  #g_navi ul li .nav-item {
   display: block;
   padding: 17px 5%;
   width: 90%;
   color: #fff;
   text-align: center;
   text-decoration: none;
  }

  .like-btn {
    color: #8899a6;
  }

  .container {
  //width: 1000px;
  //width: 95%;
  display: -webkit-flex;
  display: flex;
}

.side {
  //width: 320px;
  //width: 20%;
}

//.sidebar__item {
  //margin-bottom: 20px;
//}

.sidebar__item--fixed {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}

.not-under:hover {
  color: red;
}
